{% extends "base.html" %} {% block title %}Trades{% endblock %} {% block content %}
<h3>TSK Gotcha</h3>
This is the trade page.

<h2>Offer New Trade</h2>

<form method="POST">

  <div class="form-group">
    <label for="exampleFormControlSelect2">Select character(s) to trade:</label>
    <select multiple class="form-control" id="offer_character" name="offer_character">
      {% for i, char in user_roster%}
        <option value="{{i}}">{{i}}. {{char['name']}} ({{char['series']}})</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect2">Select character(s) to trade:</label>
    <select class="form-control" id="partner" name="partner">
      <option value="" selected disabled>Please another player</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" name="submit_button" value="offer">Offer Trade</button>
</form>







{% endblock %}