{% extends "base.html" %} {% block title %}Trades{% endblock %} {% block content %}
<h3>TSK Gotcha</h3>
This is the trade page.

<h2>Offer New Trade</h2>

<form method="POST">

  <div class="form-group">
    <label for="offer_character">Select character(s) to trade:</label>
    <select multiple class="form-control" id="offer_character" name="offer_character">
      {% for i, char in user_roster%}
        <option value="{{i}}">{{i}}. {{char['name']}} ({{char['series']}})</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="offer_coins">And how many Koins to offer:</label>
			<div class="qty">
        <input type="number" class="count" id='offer_coins' name="offer_coins" value="0">
      </div>
  </div>

  <div class="form-group">
    <label for="partner">Select player to trade with:</label>
    <select class="form-control" id="partner" name="partner">
      <option value="" selected disabled>Please select another player</option>
      {% for name in other_players.keys()%}
        <option value="{{name}}">{{name}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="request_character">Select Character to request:</label>
    <input type="text" class="form-control" id="request_character" name="request_character">
  </div>

  <button type="submit" class="btn btn-primary" name="submit_button" value="offer">Offer Trade</button>
</form>

<h2>⚠ TRADE OFFER ⚠</h2>
{% for i,trade in trades['my'] %}
  <h3>{{ trade['instigator'] }}</h3>

  <u>I receive:</u><br>
  {% for char_id in trade['receiving'] %}
    {{ char_id }}. {{ characters[char_id]['name'] }} ({{ characters[char_id]['series'] }})<br>
  {% endfor %}
  <br>

  <u>You receive:</u><br>
  {% for char_id in trade['giving'] %}
    {{ char_id }}. {{ characters[char_id]['name'] }} ({{ characters[char_id]['series'] }})<br>
  {% endfor %}
  <br>

  <form method="POST">
    <button type="submit" class="btn btn-primary" name="submit_button" value="accept-{{i}}">Accept Trade</button>
    <button type="submit" class="btn btn-primary" name="submit_button" value="accept-{{i}}">Reject Trade</button>
  </form>
{% endfor %}

<h2>Your Trades</h2>
{% for i,trade in trades['your'] %}
  <h3>{{ trade['partner'] }}</h3>

  <u>You offered:</u><br>
  {% for char_id in trade['giving'] %}
    {{ char_id }}. {{ characters[char_id]['name'] }} ({{ characters[char_id]['series'] }})<br>
  {% endfor %}
  <br>

  <u>In exchange for:</u><br>
  {% for char_id in trade['receiving'] %}
    {{ char_id }}. {{ characters[char_id]['name'] }} ({{ characters[char_id]['series'] }})<br>
  {% endfor %}
  <br>
{% endfor %}





{% endblock %}