{% extends "base.html" %} {% block title %}Pulling{% endblock %} {% block content %}
<h1>Pull New Characters!</h1>

<center>
{% for bname, banner in banners.items() %}
  {% if banner['active'] %}
    <h2>{{ banner['name'] }}</h2>

    <img src="{{banner['image']}}"></img><br>
    {{ banner['description'] }}

    <form method="POST">
      <button type="submit" {{'disabled' if coins==0 else ''}} class="btn btn-primary" name="submit_button" value="pull-{{bname}}">{{ coinstr if coins>0 else 'Not enough coins.' }}</button>
    </form>
  {% endif %}
{% endfor %}
</center>

{% endblock %}