{% extends "base.html" %} {% block title %}Pulling{% endblock %} {% block content %}
<h3>Pull New Characters!</h3>
{% if can_pull %}

<center>
{% for bname, banner in banners.items() %}
  {% if banner['active'] %}
    <h2>{{ banner['name'] }}</h2>

    <img src="{{banner['image']}}"></img><br>
    {{ banner['description'] }}

    <form method="POST">
      <button type="submit" {{'disabled' if coins==0 else ''}} class="btn btn-primary" name="submit_button" value="pull-{{bname}}">{{ coinstr if coins>0 else 'Not enough coins.' }}</button>
    </form>
  {% endif %}
{% endfor %}
</center>

{% else %}
You pulled <b>{{ pulled_char[1]['name'] }}</b>.<br>
<form method="POST">
{% for i,c in characters %}
    <div class="form-check">
      <input 
        class="form-check-input"
        type="radio"
        name="characterRemoving"
        value="{{ 'char-' + i }}" 
      ><label class="form-check-label" for="characterRemoving">{{ c['name'] }}</label>
    </div>
{% endfor %}
    <div class="form-check">
      <input 
        class="form-check-input"
        type="radio"
        name="characterRemoving"
        value="char-pulled" 
      ><label class="form-check-label" for="characterRemoving">{{ pulled_char[1]['name'] }}</label>
    </div>
  <br>
  <button type="submit" class="btn btn-primary" name="submit_button" value="remove">Remove</button>
</form>

{% endif %}

{% endblock %}