{% extends "base.html" %} {% block title %}{{ player[0] }}{% endblock %} {% block content %}
<h2>{{ player[0] }}</h2>

<h3>Coins:</h3>
{{ player[1]['coins'] }}<br>

<h3>Roster:</h3>
{% for i, char in owned_characters %}
  <a href="{{url_for('charactersBP.character_page', chr_ind=i)}}">
    <img src="https://www.smashbros.com/assets_v2/img/fighter/mario/main.png" height="50"></img>
    {{i}}. {{char['name']}} ({{char['series']}})<br>
  </a>
{% endfor %}

{% if user.id == player[0] %}
  <form method="POST">
    <button type="submit" {{'disabled' if False else ''}} class="btn btn-primary" name="submit_button" value="check-in">Claim Koins</button>
  </form>
{% endif %}
{% endblock %}