{% extends "base.html" %} {% block title %}{{ player[0] }}{% endblock %} {% block content %}
<h2>{{ player[0] }}</h2>

<h3>Coins:</h3>
{{ player[1]['coins'] }}<br>

<h3>Roster:</h3>
{% for i, char in owned_characters %}
  <a href="{{url_for('charactersBP.character_page', chr_ind=i)}}">
    <img src="{{url_for('imagesBP.characterArt', arttype='mini', charID=i, artID=0)}}" height="100"></img>
    {{i}}. {{char['name']}} ({{char['series']}})<br>
  </a>
{% endfor %}

{% if user.id == player[0] %}
  Last check in {{check_in}}.<br>
  <form method="POST">
    <button type="submit" class="btn btn-primary" name="submit_button" value="check-in">Claim Koins</button>
  </form>
  
  <br>

  <form method="POST">
    NSFW Toggle<br>
    <button type="submit" {{'disabled' if not player[1]['NSFW_shown'] else ''}} class="btn btn-primary" name="submit_button" value="NSFW-off">Hidden</button>
    <button type="submit" {{'disabled' if player[1]['NSFW_shown'] else ''}} class="btn btn-primary" name="submit_button" value="NSFW-on">Shown</button>
  </form>
{% endif %}
{% endblock %}