{% extends "base.html" %} {% block title %}Gotcha Databases{% endblock %} {% block content
%}

<code style="color: black">
  {% for k,v in database.items() %}
    <h1>{{ k }}</h1>
    {% if k == 'characters' %}
      {% for c in v %}
        <h3>{{ c['name'] }}</h3>
        {{ c }}
      {% endfor %}
    {% elif k == 'players' %}
      {% for discrim, player in v.items() %}
        <h3>{{ discrim }}</h3>
        {{ player }}
      {% endfor %}
    {% else %}
      {{ v }}
    {% endif %}
  {% endfor %}
</code>

{% endblock %}