{% extends "base.html" %} {% block title %}Gacha Databases{% endblock %} {% block content %}

<code style="color: black">
  {% for k,v in database.items() %}
    <h1>{{ k }}</h1>
    {% if k == 'characters' %}
      {% for char_ind, char in v.items() %}
        <h3>{{char_ind}}. {{ char['name'] }}</h3>
        {{ char }}
      {% endfor %}
    {% elif k == 'players' %}
      {% for discrim, player in v.items() %}
        <h3>{{ discrim }}</h3>
        {{ player }}
      {% endfor %}
    {% elif k == 'proposed_characters' %}
      {% for char in v %}
        <h3>{{ char['name'] }}</h3>
        {{ char }}
      {% endfor %}
    {% else %}
      {{ v }}
    {% endif %}
    <hr>
  {% endfor %}
</code>

{% endblock %}