{% extends "base.html" %} {% block title %}{{ character['name'] }}{% endblock %} {% block content %}
<h2>{{ chr_ind }}. {{ character['name'] }} <i>({{ character['series'] }})</i></h2>
<h3>{{ rarity }}</h3>

{% if character['description'] is not none %}
  {{character['description']}}<br>
{% endif%}

{% if owner is not none %}
  Owned by <a href="{{ url_for('playersBP.player_page', ply_ind = owner) }}"> {{owner}}</a><br>
{% endif %}

<img src="{{url_for('imagesBP.characterArt', arttype='regular', charID=chr_ind, artID=0)}}" height="500"></img>

{% endblock %}