{% extends "base.html" %} {% block title %}Character Proposals{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Character Proposal</h3>
  <div class="form-group">
    <label for="username">Character Name</label>
    <input
      type="text"
      class="form-control"
      id="char_name"
      name="char_name"
      placeholder="Enter character name"
    />
  </div>
  <div class="form-group">
    <label for="password">Character Series</label>
    <input
      type="text"
      class="form-control"
      id="char_series"
      name="char_series"
      placeholder="Enter character series"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary" name="submit_button" value="propose">Propose</button>
</form>

<form method="POST">
  <h2 align="center">Pending characters</h2>

{% for i, character in proposed_characters %}
<h3>{{ character['name']}} ({{ character['series'] }})</h3>
<u>Approve</u>
  {% for j in ['Yes', 'No', 'Abstain'] %}
    <div class="form-check">
      <input 
        class="form-check-input"
        type="radio"
        name="{{ 'charApprove-' + i }}"
        value="{{ 'option-' + j}}" 
        {{ 'checked' if character['approval_votes'][user.id] == j else '' }}
      ><label class="form-check-label" for="{{ 'charApprove-' + i }}">{{j}}</label>
    </div>
  {% endfor %}
<br>
<u>Rarity</u>
  {% for j in ['1','2','3','4','5', 'Abstain'] %}
    <div class="form-check">
      <input 
        class="form-check-input"
        type="radio"
        name="{{ 'charRarity-' + i }}"
        value="{{ 'option-' + j}}" 
        {{ 'checked' if character['rarity_votes'][user.id] == j else '' }}
      ><label class="form-check-label" for="{{ 'charRarity-' + i }}">{{j}}</label>
    </div>
  {% endfor %}
<br>
{% endfor %}

  <button type="submit" class="btn btn-primary" name="submit_button" value="vote">Save</button>
</form>





{% endblock %}